* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22.75rem; 
}

h1 {
    font-size: 1.5rem; 
    margin-bottom: 1.25rem; 
}

label {
    font-size: 1rem; 
    margin-top: 0.625rem; 
}

select, input[type="text"], input[type="range"] {
    width: 100%;
    padding: 0.625rem; 
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #ccc; 
    border-radius: 0.3125rem;
}
#duration_msg{
    color: #aaa8a8;
    padding-bottom: 1rem;
}
button {
    padding: 0.625rem;
    width: 100%;
    background-color: #f0f0f0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #ddd;
}

.toast {
    position: fixed;
    padding: 0.9375rem; 
    color: white;
    font-weight: bold;
    border-radius: 0.3125rem;
    display: none;
    animation: fadeInOut 5s forwards; 

}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

.toast.info {
    background-color: #007bff;
}

.toast.top {
    top: 1.25rem; /* 20px converted to rem */
}

.toast.bottom {
    bottom: 1.25rem;
}

.toast.right {
    right: 1.25rem;
}

.toast.left {
    left: 1.25rem;
}

.toast.center {
    left: 50%;
    transform: translateX(-50%);
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

