* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; /* Ensure base font size is responsive */
}

.main_container {
    border: 0.1rem solid rgb(77, 24, 24);
    border-radius: 0.5rem;
    box-shadow: #5f4d4d 0.6rem 1rem 0.3rem;
    padding: 1rem;
    animation: popIn 0.8s ease-in-out; /* Apply the animation */
}

/* Define the pop-in animation */
@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

select, input[type="text"], button {
  font: inherit;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
  max-width: 25rem;
  margin-inline: auto;
}

.duration-container {
  display: flex;
  align-items: center;
}

#duration {
  flex-grow: 1;
}

button {
  cursor: pointer;
  padding: 0.75rem 1rem; /* Improved button size */
  border-radius: 0.25rem;
}

.toast {
  padding: 0.75rem;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
  animation: slideIn 0.1s ease-in;
}

.toasts-container.right .toast {
  animation: slideInFromRight 0.1s ease-in;
}

.toast.go-left {
  animation: slideOutToLeft 0.1s ease-in forwards;
}

.toasts-container.right .toast.go-right {
  animation: slideOutToRight 0.1s ease-in forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.toast.success {
  background-color: #009600;
}

.toast.error {
  background-color: #ff0000;
}

.toast.warning {
  background-color: #ec6b03;
}

.toast.info {
  background-color: #4e4e4e;
}

.toast.success::before {
  content: '✓';
}

.toast.error::before {
  content: '✗';
}

.toast.warning::before {
  content: '⚠';
}

.toast.info::before {
  content: 'ⓘ';
}

.toast span {
  cursor: pointer;
}

.toasts-container {
  position: absolute;
  top: 1rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0 1rem;
}

.toasts-container.right {
  left: auto;
  right: 0rem;
}

.toasts-container.bottom {
  top: auto;
  bottom: 1rem;
}

/* Media query to ensure layout adapts well on smaller screens */
@media (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }
  
  .container {
    max-width: 100%;
  }
}
